*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.h2, .small{
    background-color: #2e364abb;
}

.description{
    margin-top: 2em;
    color: #fff;
}

body{
    background: #2e364a;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 0;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    transition: height 1s ease-out;
}

.timeline.visible::after {
    height: 100%;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.text-box{
    padding: 20px 30px;
    border: #040000;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.one{
    background-image: url(img-linea/brazo.jpg);
    color: #fff;
}

.two{
    background-image: url(img-linea/tupalumnos2.png);
    color: #040000;
}

.three{
    background-image: url(img-linea/proyectos-python.png);
    color: #fff;
}

.four{
    background-image: url(img-linea/promedios.png);
    color: #040000; 
}

.five{
    background-image: url(img-linea/pilaresPOO.jpg);
    color: #fff; 
}

.text-box h2{
    font-weight: 600px;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.right-container img{
    left: -20px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width:600px) {
    
    .timeline{
        margin:50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    
    .text-box{
        font-size: 13px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .right-container{
        left: 0;
    }

    .left-container img, .right-container img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}
