body{
    background-color: #171315;
}

.titulo{
    width: auto;
    height: 250px;
    background-image: url(../IMAGENES/fondoPortada.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #ffff;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    cursor: pointer;
}

.preproyectos{
    margin-top: 2em;
    margin-bottom: 4em;
    width: auto;
    height: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.preproyectos h2 {
    margin-left: 1em;
    text-align: justify;
    color: #ffff;
    font-size: 250%;
    font-weight: bold;
}

.preproyectos p {
    margin-left: 2.3em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: #ffff;
    font-size: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #171315; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #171315;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #171315; 
  }
  
.scroll-horizontal {
    display: flex;
    height: auto;
    width: 90%;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scrollbar-base-color: #171315;
    scroll-snap-type: x proximity;
    gap: 1em;
}

section{

    display: flex;
    position: relative;
    top: 2.5em;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 80%;
    height: 30em;
    box-shadow: 0 0 20px 10px #0c0b0a;
    margin-bottom: 2em;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  section img:hover {
    cursor: crosshair;
    width: 19em;
    opacity: 1;
    filter: contrast(120%);
  }


.tarjeta1 {
    flex: 0 0 auto;
    width: 25em;
    height: 38em;
    padding: 1em;
    background: linear-gradient(90deg, rgba(232,167,36,1) 0%, rgba(186,96,0,1) 64%);
    color: #ffff;
    border-radius: 50px;
    position: relative;
    scroll-snap-align: center;
    margin: 50px 15px 0;
    display: inline-flex; 
}

.tarjeta2 {
    flex: 0 0 auto; 
    width: 25em;
    height: 38em;
    padding: 1em;
    background: linear-gradient(90deg, rgba(186,96,0,1) 0%, rgba(238,123,0,1) 67%);
    color: #ffff;
    border-radius: 50px;
    position: relative;
    scroll-snap-align: center;
    margin: 50px 15px 0;
    display: inline-flex; 
}

.tarjeta3 {
    flex: 0 0 auto;
    width: 25em;
    height: 38em;
    padding: 1em;
    background: linear-gradient(90deg, rgba(228,118,0,1) 0%, rgba(255,172,38,1) 68%);
    color: #ffff;
    border-radius: 50px;
    position: relative;
    scroll-snap-align: center;
    margin: 50px 15px 0;
    display: inline-flex;
}

.tarjeta1:hover, .tarjeta2:hover, .tarjeta3:hover, .tarjeta4:hover {  
    transition: .5s ease-out;
    transform: scale(1.02); 
    filter: contrast(110%);
}

.ctarjeta{
    width: 23em;
    height: 36em;
    position: absolute;
    top: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-items: left;
    align-items: left;
    color: #ffff;
    padding-left: 1em;
}

.ctarjeta h3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
    font-weight: bold;
    font-size: 120%;
}

.ctarjeta h2{
    text-align: justify;
    font-weight: bold;
    font-size: 170%;
}

.cuertarjeta{
    width: 24em;
    height: auto;
    position: absolute;
    bottom: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-items: left;
    align-items: left;
    text-align: justify;
    color: #ffff;
    padding: 0.5em;
    text-decoration: none;
}

.cuertarjeta a{
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
}

section button {
    margin-top: 4em;
    color: #ffff;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 75%;   
    font-family:'Times New Roman', Times, serif;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  section button:hover{
    color: #ffff;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 100%;  
    font-family:'Times New Roman', Times, serif;
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }